<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="assets">
    </location>
    <system.webServer>
        <urlCompression doStaticCompression="false" />
        <handlers>
            <remove name="FlaskHandler" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\inetpub\wwwroot\ToastApp\AppServer\FlaskApp\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
